extends layout 

block content 
    div.top
        h1 VIP Club
        ul.top-links 
            li 
                a(href="/") Return to main page 
    h2 Apply for VIP 
    p What is the secret password?
    form(action="", method="post") 
        label(for="password")
        input#password(type="password" name='password' required)
        button(type='submit') Submit 
    if wrong 
        p=wrong