body {
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 24px 96px;
  background-color: #000000;
  color: #ffffff;
  color-scheme: dark;
}

::selection {
  background-color: #0045b0;
  color: #f8f5f2;
}

a {
  color: #00B7FF;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  max-height: 50vh;
  border: 2px solid gray;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px;
}

.info {
  display: flex;
  gap: 4px;
}

form#messagePost {
  margin-top: 8px;
  display: flex;
  gap: 4px;
}

form#signup, form#login {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.form-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  font-weight: bold;
}

button.msg-delete {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: black;
  color: red;
}

button.msg-delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.top-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
}

.top-links > li > a {
  text-decoration: none;
  font-weight: bold;
}

a {
  filter: invert();
}

a:hover {
  color: orange;
}