body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  display: flex;
  gap: 4px;
}

form#messagePost {
  margin-top: 8px;
}